/* https://stackoverflow.com/questions/26018756/bootstrap-button-drop-down-inside-responsive-table-not-visible-because-of-scroll/51992907 */
/* @media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        position: static !important;
    }
}
@media (min-width: 768px) {
    .table-responsive {
        overflow: visible;
    }
} */

/*
.router-link-active {
  color: red!;
}
*/

/*
.mycode {
  font-size: 87.5%;
  color: #e83e8c;
}
*/


.rightalignedinput {
  width: 250px !important;
  text-align: right;
}

.navbar-toggler {
    display: block !important;
}

.form-control-plaintext {
  background-color: #F8F8F8 !important;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
  font-size: 80%;
  wrap: off !important;
}


.warningheader {
  background-color: orange !important;
}

/* .logo {
  color:#000000 !important;
} */

/* body {
    background-image: url(../images/MeInTheMatrix61-square.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50%;
    // width: 100%;
    // height: 100%;
    // opacity : 0.8;
    // z-index: -1;
} */

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
}

/* .navbar-brand {
  text-color: black;
  color: black;
  // text-align: right;
  // padding: 0 !important;
  // margin: 0;
  // font-size: 90%;
} */

.hidden {
     display:none;
}

span.icon {
 font-family: 'Glyphicons Halflings';
}


/* navbar */
.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
/* Title */
.navbar-default .navbar-brand {
    color: #000;
}


img {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated !important;
}

.popover-max-width {
  max-width: 600px !important;
}
